.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonHeader {
  position: relative;
  text-align: center;
  padding: 10px;
}

.pokemonHeader h1, .pokemonHeader h2, .pokemonHeader h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1; /* Ajusta la altura de línea según tus preferencias */
  margin: 0;
}

.pokemonHeader h1 {
  font-size: 22px;
  color: #393939;
  margin-left: -170px; 
}

.pokemonHeader h2 {
  font-size: 32px;
  color: #26367C;
  margin-left: -205px; 
}

.pokemonHeader h3 {
  font-size: 14px;
  color: #7480B2;
  margin-left: 250px; /* Alinea a la derecha */
}

.pokemonHeader img {
  width: 325px;
  height: 325px;
  margin: 0 auto; 
  display: block; 
}
